<%= form_for @program, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%= f.label "Name: "%>
  <%= f.text_field :name %>
  <div class="control-group">
  <div class="controls"> Program Type:
  <%=f.select(:program_type, options_for_select([['Bodybuilding'], ['Powerlifting'], ['Strongman'], ['Olympic']]))%>
  </div>
  </div>
  <div class="controls"> Difficulty:
  <%=f.select(:difficulty, options_for_select([['Beginner'], ['Intermediate'], ['Advanced']]))%>
  </div>
  </div>
  <%=f.label "Number of days: "%>
  <%=f.select(:days, options_for_select([['1'],['2'],['3'],['4'],['5'],['6'],['7']]))%>
  <br>
  <%=f.label "Content:"%>
  <br>
  <%=f.text_area :content, :cols => 100, :rows => 30%>
  <br>
  <%= f.submit "Update" %>
  <%= link_to "Cancel", :back %>
<% end %>