

<ol> Type of programs:
<li><%=link_to("powerlifting (#{@pl_count})","/programs/powerlifting_index")%></li>
<li><%=link_to("bodybuilding (#{@bb_count})","/programs/bodybuilding_index")%></li>
<li><%=link_to("strongman(#{@sm_count})","/programs/strongman_index")%></li>
<li><%=link_to("olympic(#{@ol_count})","/programs/olympic_index")%></li>
</ol>
<%=link_to("Create Program","/programs/new")%>