

<ol> Type of programs:
<li><%=link_to("powerlifting","/programs/powerlifting_index")%></li>
<li><%=link_to("bodybuilding","/programs/bodybuilding_index")%></li>
<li><%=link_to("strongman","/programs/strongman_index")%></li>
<li><%=link_to("olympic","/programs/olympic_index")%></li>
</ol>
<%=link_to("Create Program","/programs/new")%>